.arrowLink {
    align-items: center;
    color: rgb(var(--text-color-hc));
    display: inline-flex;
    font-size: var(--font-size-xs);
    font-family: var(--btn-font);
    font-weight: var(--btn-font-weight);
    letter-spacing: 0.05em;
    line-height: var(--line-height-l);
    gap: 0.5rem;
    position: relative;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;

    &::after {
        --mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 16"><polyline points="6 2 12 8 6 14" fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="1.15"/><line y1="8" x2="12" y2="8" fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="1.15"/></svg>');
        background: currentColor;
        content: '';
        display: block;
        height: 16px;
        -webkit-mask-image: var(--mask-image);
        mask-image: var(--mask-image);
        position: relative;
        transition: transform var(--duration-m) ease-out;
        width: 14px;
        top: -1px;
    }

    &:hover {
        color: rgb(var(--text-color-hc));

        &::after {
            transform: translate3d(4px, 0, 0);
        }
    }

    &:active {
        top: 1px;
    }
}
