.page {
    background-color: rgb(var(--bg-color));
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    &__backdrop {
        position: absolute;
        z-index: 1;

        img {
            position: absolute;
        }
    }

    &__backdropMobile {
        height: 100%;
        width: 100%;
    }

    &__backdropParallax {
        display: none;
    }

    &__main {
        color: #FFF;
        position: relative;
        z-index: 2;
    }

    &__content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    &__intro {
        color: rgb(255 255 255 / 85%);
        line-height: 1.5;
    }

    &__ctas {
        display: flex;
        gap: .5em;
    }

    @include screen-max(m) {
        &__backdrop {
            height: 150vw;
            position: fixed;
            width: 100vw;

            img {
                object-position: 72.5% 50%;
            }
        }

        &__main {
            background-image: linear-gradient(to bottom, rgb(var(--color-1) / 0%) 25vw, rgb(var(--color-1) / 100%) 150vw, rgb(0 0 0));
            min-height: 100vh;
            padding: 85vw 24px 40px 24px;
        }

        &__logo {
            height: 3rem;
            pointer-events: none;
            position: fixed;
            top: 32px;
            transition: opacity .5s;

            .is-hideLogo & {
                opacity: 0;
            }
        }

        &__content {
        }

        &__ctas {
            .btn {
                flex: 1;
            }
        }
    }

    @include screen-min(m) {
        &__backdrop {
            inset: -24px;
        }

        &__backdropMobile {
            display: none;
        }

        &__backdropParallax {
            display: block;
            height: 100%;
            will-change: transform;
            width: 100%;
        }

        &__main {
            background-image: linear-gradient(60deg,
                rgb(var(--color-1) / 100%),
                rgb(0 0 0 / 75%) 50%,
                rgb(0 0 0 / 0%) 75%
            );
            color: #FFF;
            display: flex;
            flex: 1;
            gap: 64px;
            padding: 64px;
        }

        &__content {
            flex: 0 0 50%;
            justify-content: space-between;
            max-width: 800px;
        }

        &__text {
            gap: 2em;
        }

        &__logo {
            height: 3rem;
            margin-bottom: 2rem;
        }

        &__contact {
            font-size: var(--font-size-s);
        }
    }

    @include screen-min(xl) {
        &__logo {
            height: 4rem;
        }

        &__text {
            gap: 3em;
        }

        &__intro {
            font-size: var(--font-size-l);
        }
    }
}
