h1 {
    font-family: var(--h1-font);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    text-transform: var(--h1-text-transform);
}