h2 {
    color: rgb(var(--h2-color));
    font-family: var(--h2-font);
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    text-transform: var(--h2-text-transform);
}