h3 {
    color: rgb(var(--h3-color));
    font-family: var(--h3-font);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    letter-spacing: var(--h3-letter-spacing);
    line-height: var(--h3-line-height);
    text-transform: var(--h3-text-transform);
}