h4 {
    color: rgb(var(--h4-color));
    font-family: var(--h4-font);
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    text-transform: var(--h4-text-transform);
}