.productTable {
    @include screen-min(l) {
        border-collapse: separate;
        border: 1px solid rgb(var(--border-color));
        border-radius: var(--card-border-radius);
        margin-bottom: var(--block-margin);
        width: 100%;

        th,
        td {
            padding: 1rem 1.5rem;
            text-align: left;
        }

        th {
            color: rgb(var(--text-color-hc));
            font-weight: 500;
        }

        tr:not(:last-child) {
            th, td {
                border-bottom: 1px solid rgb(var(--border-color));
            }
        }

        td {
            @include tabular-numbers;

            span {
                color: rgb(var(--text-color-lc));
            }
        }
    }
}